<h1>Listing keywords(Total=<%= @keywords.size %>)</h1>

<div>
	<a name="top"></a>
	<a href="#bottom">To bottom</a>
</div>

<table>

	<!-- Header -->
	<%= render :partial => \
			'nr4/keywords/keywords_index/index_table_header' %>

	<!-- Entries -->
	<%= render :partial => \
			'nr4/keywords/keywords_index/index_table_entries' %>

</table>

<br />

<%#= link_to 'New Keyword', new_keyword_path %>
<%#= link_to 'New Keyword', "/nr4/keywords/new" %>
<%= link_to 'New Keyword', new_nr4_keyword_path %>

<div>
	<a name="bottom"></a>
	<a href="#top">To top</a>
</div>
