<%#= @genre.name %>

<!-- Category=<%#= @genre %> -->

<label for="keyword_category_id">Category</label>

(<span onclick="show_category_list()" style="color: blue;">Refresh</span>)

<br />

<!-- Selected genre = <%#= @genre %> -->

<% category_ids = [] %>
<% @categories.each do |c| %>
	<% category_ids.push([c.name, c.id]) %>
<% end %>
<%= select :keyword, :category_id, category_ids %>

