<% if i % 5 == 0 && i <=> 0 %>

	<tr class="tr_spacer">
		<!-- <td colspan="1" class="col_id">*</td> -->
		<!-- <td colspan="2"></td> -->
		<!-- <td colspan="2"><pre>     </pre></td> -->
		<!-- <td colspan="2">*****</td> -->
		<!-- <td colspan="2" class="col_id">*****</td> -->
		<td colspan="2" style="text-align: left;">*****</td>
		
		<td colspan="2" class="link_top_bottom">
		<!-- <td colspan="3" class="link_top_bottom"> -->
		<!-- <td colspan="4" class="link_top_bottom"> -->
			<a href="#top">Top</a> &nbsp;
		
			<a href="#bottom">Bottom</a>
		</td>
	</tr>

<% end %>

<tr>
	<td class="col_id">
		
		<%= "#{i + 1}" %>
		
	</td>

	<td>
		
		<%= link_to\
				raw(a.line),
				{:controller => 'articles',
					:action => 'open_article',
					:article_line => a.line,
					:article_url => a.url,
					:article_genre => @genre_code,
					:article_key => key
					},
				:target => "_blank" %>
				<!-- a.url, :target => "_blank" %> -->
	</td>
	
	<td class="col_vendor">
		
		<%= a.vendor %>
		
	</td>
	
	<td class="col_news_time">
		
		<%= a.news_time %>
		
	</td>
	
</tr>	
