<a name="top">
</a>
	<h1>Histories</h1>

<a href="#bottom">To bottom</a>

<table>
	
	<%= render :partial => 'nr4/histories/index/index_table_header' %>
	
	<%= render :partial => 'nr4/histories/index/index_table_entries' %>

</table>

<br />

<a name="bottom"></a>

<a href="#top">To top</a>


<%#= link_to 'New History', new_history_path %>
