<table>
	<tr>
		<td>
			1
		</td>
		<td>
			
			<%= link_to_unless_current \
							'TwitterApp',
							:controller => 'twitter_app',
							:action => 'main',
							:class => 'link' %>
							
		</td>
	</tr>

	<tr>
		<td>
			2
		</td>
		<td>
			
			<%= link_to_unless_current \
							'NR4',
							:controller => 'nr4/articles',
							:action => 'index',
							:class => 'link' %>
							
		</td>
	</tr>

	<tr>
		<td>
			3
		</td>
		<td>
			
			<%= link_to_unless_current \
							'AiKodaka',
							:controller => 'ai_kodaka/ai_kodakas',
							:action => 'index',
							:class => 'link' %>
							
		</td>
	</tr>

	<tr>
		<td>
			3
		</td>
		<td>
			
			<%= link_to_unless_current \
							'Item',
							:controller => 'sl/items',
							:action => 'index',
							:class => 'link' %>
							
		</td>
	</tr>


</table>