<table>
	
	<% @applist.size.times do |i| %>
	
		<tr>
			<td>
				<%= i + 1 %>
			</td>
			<td>
				
				<%= link_to_unless_current \
								@applist[i].name,
								:controller => @applist[i].cont,
								:action => @applist[i].action,
								:class => 'link' %>
								
			</td>
		</tr>
		
	
	<% end %>

</table>