  <div class="field">
  	
    <%= f.label :genre_id %><br />
    
    <% genre_ids = Genre.all.collect{|g| [g.name, g.id]} %>
    <%#= select :env_nr4, :genre_id, genre_ids, :include_blank => true %>
    
    <%#= select :env_nr4, :genre_id, genre_ids, :prompt => "All" %>
    
    <% if @env_nr4.genre_id != nil %>
    
    	<%= select :env_nr4, :genre_id, genre_ids, :include_blank => true, :selected => @env_nr4.genre_id.to_s %>
    
    <% else %>
    
    	<%= select :env_nr4, :genre_id, genre_ids, :include_blank => true %>
    
    <% end %>
    
  </div>
