<hr />

<%# REF hidden field // http://railsdoc.com/references/hidden_field -- %>
<%= hidden_field :app, :name, :value => 'sl' %>

<!-- <input type="button" value="Show log"   id="show_button" /> | -->
<input type="button" value="Show log"   id="show_button_generic" /> |

<input type="button" value="Hide log"   id="hide_button_generic" disabled/>

<div class="log_navigation" style="display: none;">

	<a name="log_top"></a><a href="#log_bottom">To log bottom</a>

</div>

<div id="show_log">LOG</div>

<div class="log_navigation" style="display: none;">

	<a name="log_bottom"></a><a href="#log_top">To log top</a>

</div>

<!-- <div id="logs" style="display: none;">ABCDE</div> -->
