<body>
	<!-- home page-->
	<div id="home" data-role="page">
		
		<div data-role="header">
			
			<h1>SAMPLE</h1>
			
		</div>
		
		<div data-role="content">
			
			<p id="msg">MESSAGe</p>
			
			<hr />
			
			<a href="#next" data-role="button">Next</a>
			
		</div>
		
	</div>
	
	<!-- next page-->
	
	<div id="next" data-role="page">
		
		<div data-role="header">
			
			<h1>next</h1>
			
		</div>
		
		<div data-role="content">
			
			<p id="msg">next page</p>
			
			<hr />
			
			<a href="#home" data-role="button">Home</a>
			
		</div>
		
	</div>
</body>
