<h1>Listing pur_hists</h1>

<table>
	
  <%#= render 'sl/pur_hists/pur_hists_index/index_th'%>
  
  <%= render 'sl/pur_hists/pur_hists_index/index_td'%>
  <%#= render 'sl/pur_hists/pur_hists_index/index_td_2'%>
  
</table>

<br />

<%= link_to 'New Pur hist', new_pur_hist_path %>
