<%= render :partial => 'articles/articles_index/index_header' %>

<hr />

<div><a name="top"><a href="#bottom">To bottom</a></div>

<%= render :partial => 'articles/articles_index/index_contents' %>

<div><a name="bottom"><a href="#top">To top</a></div>