<p id="notice"><%= notice %></p>

<p>
  <b>Num of item per page:</b>
  <%= @setting_sl.num_of_item_per_page %>
</p>


<%= link_to 'Edit', edit_setting_sl_path(@setting_sl) %> |
<%= link_to 'Back', setting_sls_path %>
