<h1>Listing natulangs</h1>

<table>
	
	<%= render :partial => 'natulang/natulangs/index/index_header' %>

	<%= render :partial => 'natulang/natulangs/index/index_entries' %>
	
</table>

<br />

<%= link_to 'New Natulang', new_natulang_path %>
