/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
table, th, td {
	/*border: 2px solid red;*/
	border: 2px solid blue;
	/*border: 2px solid #A9D0F5;*/
}

/*.category_label {*/
div.category_label {
	
	background: #BEF781;
	/*background: #CEE3F6;*/
	
}

td.col_id, td.col_vendor, td.col_news_time, td.link_top_bottom {
	
	text-align: center;
	
}

tr.tr_spacer {
	
	background: #E0F8E6;
	
}
